
{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}
    Password change successful
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-8 text-center" style="margin: auto;"  >
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">Changed password</h3>
      </div>
        <div class="card-body py-4">
            <form method="post">{% csrf_token %}
                <p class="py-2"> Your password was changed.</p>
            </form>
        </div>
    </div>
</div>
   
{% endblock %}