{% extends 'blog/list.html' %}
{% block content_nav %}
{% load base_tags %}
  <!-- Page Content -->
    <!-- Banner Starts Here -->
      <div class="main-banner header-text">
        <div class="container-fluid">
          <div class="owl-banner owl-carousel">
            {% for article in object_list %}
            <div class="item">
              <img src="{{article.image.url}}" alt="" width="600", height="400">
              <div class="item-content">
                <div class="main-content">
                  <div class="meta-category">
                    <span>{{article.title}}</span>
                  </div>
                  <a href="{% url 'blog:detail' slug=article.slug %}"><h4>{{article.snippet}}</h4></a>
                  <ul class="post-info">
                    <li><a href="{% url 'blog:author' article.author %}">{{ article.author.get_full_name }}</a></li>
                    <li><a>{{article.publish}}</a></li>
                    {% if article.is_special %}
                    <span class="badge badge-danger" style="font-size: 12px;">Special</span>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}
{% block pager_number %}
    
    <div class="col-lg-12">
      <div class="main-button">
        <a href="{% url 'blog:all-posts' %}">view all posts</a>
      </div>
    </div>
    </div>
  </div>
</div>
{% popular_articles %}
{% endblock %}