{% extends 'blog/base.html' %}
{% block content %}
{% load ratings %}
{% load i18n %}
{% load comment_tags %}

     <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text" >
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12" >
              <div class="text-content text-center" >
                <h4> search:  {{search}}</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
    
    <!-- Banner Ends Here -->

    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="all-blog-posts">
              <div class="row">
                {% for article in object_list %}
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{article.image.url}}" alt=""  width="600", height="400">
                    </div>
                    <div class="down-content">
                      <span>{{article.title}}</span>
                      <div>
                        {% ratings article %}
                      </div>
                      {% if article.is_special %}
                      <span class="badge badge-danger" style="font-size: 12px;">Special</span>
                      {% endif %}
                      <a href="{% url 'blog:detail' slug=article.slug %}"><h4>{{article.snippet}}</h4></a>
                      <ul class="post-info">
                        <li><a href="{% url 'blog:author' article.author %}">{{ article.author.get_full_name }}</a></li>
                        <li><a>{{article.publish}}</a></li>
                        <li><a>Hits: {{article.hits.count}}</a></li>
                      </ul>
                        <a href="{% url 'blog:detail' slug=article.slug %}"><p>{{article.body|striptags|truncatechars:430}}</p></a>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              {% for cat in article.category.active %}
                              <a href="{% url 'blog:category' cat.slug %}"> #{{cat.title}}</a></li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#">Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% empty %}
                 <div class="style" style=" margin-left: auto; margin-right: auto;">
                  <h1>There is no content to display</h1>
                 </div>
                {% endfor %}
                {% if is_paginated %}
                <div class="page-content col-lg-12">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      {% endif %}
                      <li class="page-item page-link">{{page_obj.number}}</li>
                      {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
                
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}